<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>CRUD NodeJs MySql</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand"> CRUD NODEJS MYSQL</a>
</nav>