<% include ../partials/_header %>
<div class="container">
<div class="row mt-5">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <form action="/update/<%= data.id %>" method="post">
                    <div class="form-group">
                        <input name="name" type="text" value="<%= data.name %>" class="form-control" placeholder="Name"/>
                    </div>
                    <div class="form-group">
                        <input name="address" type="text" value="<%= data.address %>" class="form-control"
                               placeholder="Address"/>
                    </div>
                    <div class="form-group">
                        <input name="phone" type="text" value="<%= data.phone %>" class="form-control"
                               placeholder="Phone"/>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Update customer
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>


<% include ../partials/_footer %>

