<% include ../partials/_header %>
<pre><%= data[0].name %></pre>
<div class="container">
<div class="row mt-5">
    <div class="col-md-7">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>n*</th>
                <th>Name</th>
                <th>Address</th>
                <th>phone</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% if (data) { %>
                <% for (var i = 0; i < data.length; i++){ %>
                <tr>
                    <td>
                        <%= i + 1%>
                    </td>
                    <td><%= data[i].name %></td>
                    <td><%= data[i].address %></td>
                    <td><%= data[i].phone %></td>
                    <td>
                        <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a>
                        <a href="/edit/<%= data[i].id %>" class="btn btn-info">Edit</a>
                    </td>
                </tr>
                <% } %>
            <% }%>

            </tbody>
        </table>
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <form action="/add" method="post">
                    <div class="form-group">
                        <input name="name" type="text" class="form-control" placeholder="Name"/>
                    </div>
                    <div class="form-group">
                        <input name="address" type="text" class="form-control"
                               placeholder="Address"/>
                    </div>
                    <div class="form-group">
                        <input name="phone" type="text" class="form-control"
                               placeholder="Phone"/>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Save customer
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>


<% include ../partials/_footer %>

